h1 {
	text-align: center;
}

.space100{
	line-height: 100px;
}

.space50{
	line-height: 50px;
}

.custom{
	width: 300px !important;
}

.btn-block {
    padding: 20% 0;
    border-color: black;
    border-width: 3px;
    /* define values in pixels / Percentage or em. whatever suits 
       your requirements */
}