<div class = "col-lg-2">
	<div class = "item"> 
		<form action = "{{ url_for('question') }}" method = "post">
			{% if category == "0" %}
				<button class = "btn btn-info btn-block mb-3" name = "category" value = "{{ category }}" > 
			{% elif category == "1" %}
				<button class = "btn btn-danger btn-block mb-3" name = "category" value = "{{ category }}" > 
			{% else %}
				<button class = "btn btn-success btn-block mb-3" name = "category" value = "{{ category }}" > 
			{% endif %}
				<h3> {{ card_name }} </h3>
			</button> 
		</form>
	</div> 
</div>