<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<title> Jitheshraj Scholarship for promising freshmen </title>
	</head>

	<body>

		<br>

		<h1 align = "center"> Scholar-Mentor icebreaker </h1>

		<br>
		<br>
		<br>

		<div class="container">

			<div class = "row">

				<div class ="col-lg-2 col-sm-1"> </div>


				<div class = "col-lg-3 col-sm-8"> 
					<div class = "item1"> 
						<form action = "{{ url_for('question') }}" method = "post">
							<button name = "category" value = "0"> 
								<h3> Personal </h3> 
							</button> 
						</form>
					</div> 
				</div>


				<div class = "col-lg-3 col-sm-8"> 
					<div class = "item2"> 
						<form action = "{{ url_for('question') }}" method = "post">
							<button name = "category" value = "1"> 
								<h3> Professional </h3> 
							</button> 
						</form>
					</div> 
				</div>


				<div class = "col-lg-3 col-sm-8"> 
					<div class = "item3"> 
						<form action = "{{ url_for('question') }}" method = "post">
							<button name = "category" value = "2"> 
								<h3> Miscellaneous </h3> 
							</button> 
						</form>
					</div> 
				</div>


				<div class = "col-lg-2 col-sm-1"> </div>

			</div>

		</div>

		<br>
		<br>
		<br>
		<h3 align = "center"> {{ question }} </h3>

	</body>
</html>